compte.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="compte" type="compte"/>

  <xs:complexType name="compte">
    <xs:sequence>
      <xs:element name="code" type="xs:int"/>
      <xs:element name="solde" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

